* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* vars */
:root {
	--color-1: #142B35;
	--color-2: #5B6E76;
	--color-1-alternative: #3A98B2;
	--color-bg: #fff;
	--color-y: #F2B91D;
}

/* fonts */
@font-face {
	font-family: 'Work Sans';
	src: url('../fonts/WorkSans-VariableFont_wght.woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Work Sans';
	src: url('../fonts/WorkSans-VariableFont_wght.woff2');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Work Sans';
	src: url('../fonts/WorkSans-VariableFont_wght.woff2');
	font-weight: 600;
	font-style: normal;
}
html {
	font-size: 62.5%;
}
body {
	font-family: 'Work Sans', sans-serif;
	max-width: 144rem;
	margin: 0 auto;
}
a {
	text-decoration: none;
}

/* header */
.header_mobile-toggle-menu {
	display: none;
}
.header {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: var(--color-bg);
	padding: 2.4rem 6rem;
	z-index: 1;
	max-height: 9.9rem;
}
.header__menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__nav_list {
	display: flex;
	list-style-type: none;
}
.header__nav-item {
	margin: 0 32px 0 0;
}
.header__nav-item a {
	text-decoration: none;
	color: var(--color-1);
	font-weight: 400;
	font-size: 1.6rem;
}
.header__feedback {
	display: flex;
	align-items: center;
	gap: 2.4rem;
}
.header__phone {
	color: var(--color-1);
	text-align: center;
	margin: 0;
	font-size: 1.6rem;
	display:flex;
	align-items: center;
	position:relative;
}
.header__phone::before {
	content: '';
	height: 3.4rem;
	border-left: #E0E0E0 1px solid;
	position: absolute;
	left: -2.4rem;
}
.phone {
	fill: var(--color-1);
	height: 1.7rem;
	width: 1.6rem;
	margin: 0.2rem 1.6rem 0 0;
}

.header__button {
	cursor: pointer;
	padding: 1.6rem 2rem;
	color: var(--color-bg);
	background-color: #3A98B2;
	border-radius: 0.5rem;
	border: none;
	transition: background-color 0.5s; 
	font-size: 1.6rem;
}
.header__button:hover {
	background-color: #328BA4;
}
/* main */
.main__text {
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 26.77px;
	color: var(--color-2);
}
.head-block__subtitle {
	text-transform: uppercase;
	font-size: 1.2rem;
	color: var(--color-2);
	font-weight: 600;
	line-height: 20.08px;
	letter-spacing: 0.1rem;
}
/* sections */
/* intro */
.intro {
	width: 100%;
	height: 687px;
	background: url(../images/shutterstock_795013699-1.webp);
	background-size: cover;
	display: flex;
	flex-direction:column;
	justify-content: flex-end;
	padding: 0 0 12rem 9rem;
	position: relative;
	z-index: 0;
}
.intro::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(55, 46, 46, 0.4); 
	z-index: -1; 
}
.intro__heading {
	color: var(--color-bg);
	font-size: 4rem;
	font-weight: 600;
	width: 672px;
	position: relative;
	line-height: 46.92px;
}
.intro__heading::before {
	content: '';
	height: 8.8rem;
	border-left:var(--color-y) 2px solid;
	position: absolute;
	left: -3.2rem;
}
.intro__text {
	color: var(--color-bg);
	font-size: 1.6rem;
	font-weight: 500;
	width: 526px;
	line-height: 26.77px;
}
/* misions */
.head-block--mission {
	padding:8rem 0 4rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.mission__title {
	text-transform: uppercase;
	font-size: 3.2rem;
	line-height: 53.54px;
	color: var(--color-1);
	letter-spacing: -1px;
	position: relative;
}
.mission__text {
	margin: 1.6rem 0 0 0;
	max-width: 442px;
	color: var(--color-2);
}
/* services */

.services__list {
	display: grid;
	grid-template-columns: repeat(3, 42.9rem);
	grid-template-rows: repeat(2, 37.8rem);
	gap: 1.6rem;
	justify-content: center;
	padding: 0 0 10rem 0;
}
.services__item {
	display: flex;
	padding-top: 5.6rem;
	flex-direction: column;
	align-items: center;
	text-align: center;
	box-shadow: 1px 1px 12px 0 rgba(71, 71, 71, 0.03);
	cursor: pointer;
	
}

.services__item-logo {
	background-color: rgba(171, 210, 217, 0.3);
	width: 8.8rem;
	height: 8.8rem;
	border-radius: 50%;
	display: flex;
	justify-content: center; 
	align-items: center; 
}
.icon {
	fill: var(--color-1-alternative);
	width: 5rem;
	height: 5rem; 
}

.services__item-title {
	color: var(--color-1);
	font-weight: 600;
	font-size: 1.8rem;
	min-width: 28rem;
	margin: 2.4rem 0 1.6rem;
	line-height: 30.11px;
	letter-spacing: -1%;
	transition: color 0.5s;
}
.services__item:hover .services__item-title {
	color: var(--color-1-alternative)
}
.services__item-text {
	color: var(--color-2);
	width: 28rem;
}
/* contact */
.contact {
	background-color: #FCFDFD;
	display: flex;
	justify-content: center;
	gap: 3.2rem;
}
.contact__address {
	margin: 19.8rem 0 19.8rem 5.8rem;
}
.contact__title {
	font-size: 2.4rem;
	font-weight: 500;
	line-height: 37.75px;
	letter-spacing: -1%;
	text-transform: uppercase;
}
/* head-block */
.head-block__title{
	color: var(--color-1);
	font-size: 2.4rem;
	font-weight: 500;
	line-height: 37.75px;
	letter-spacing: -1px;
	text-transform: uppercase;
}
/* --- */
.contact__text {
	max-width: 74rem;
}
.contact__list {
	margin-top: 4rem;
	list-style-type: none;
}
.contact__icon {
	fill: #3A98B2;
	height: 1.6rem;
	width: 1.6rem;
	margin: 0 1.6rem 0 0;
}
.contact__item {
	display: flex;
	align-items: center;
}
.contact__item address {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 23.42px;
	color: var(--color-1);
	font-style: normal;
}
.contact__item span {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 23.42px;
	color: var(--color-1);
}
.contact__form {
	background-color: #fff;
	margin: 8rem 6.2rem 8rem 0;
	width: 54.8rem;
	height: 51.6rem;
	border-radius: 5px;
	box-shadow: 1px 1px 12px 0 rgba(71, 71, 71, 0.06);
	padding: 5.6rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contact__form p {
	text-align: center;
	margin: 0 0 4rem 0;
}

.form__group {
	display: flex;
}
.form__field {
	width: 100%;
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 16.42px;
	color: var(--color-2);
	margin: 0 0 1.6rem;
}
.form__group .form__field:nth-child(1) {
	margin: 0 1.2rem 1.6rem 0;
}

.form__field:nth-child(4) {
	margin: 0 0 4rem;
}
.form__field:not(:nth-child(4)) span::after {
	content: '*';
	padding: 0 0 0 0.6rem;
	color: var(--color-y);
}
.form__label {
	display: block;
	margin: 0 0 0.8rem 0;
}
.form__input {
	height: 4rem;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	padding: 1rem;
	width: 100%;
}
.form__input::placeholder {
  color: #e0e0e0;
	font-size: 2rem;
  opacity: 1; 
}
.form__textarea {
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	padding: 1rem;
	width: 43.6rem;
	height: 7.3rem;
	resize: none;
}
.form__button {
	display: block;
	margin: 0 auto;
	background-color: var(--color-y);
	border-radius: 0.5rem;
	border: none;
	padding: 1.4rem 2.4rem 1.4rem 2.4rem;
	color: var(--color-bg);
	transition: background-color 0.5s;
	cursor: pointer;
}
.form__button:hover {
	background-color: #ECB51D;
}
iframe {
	width: 100%;
	height: 551px;
}

/* blog */

.blog {
	margin: 4rem 0 0 0;
	padding: 8rem 6rem;
}

.head-block--blog {
	display: flex;
	justify-content: space-between;
}
.blog__button {
	color: var(--color-1-alternative);
	border: 1px solid #3A98B2;
	border-radius: 0.5rem;
	padding: 1.4rem 2.4rem;
	background-color: var(--color-bg);
	transition: background-color 0.5s, color 0.5s;
	cursor: pointer;
}
.blog__button:hover {
	background-color: var(--color-1-alternative);
	color: var(--color-bg);
}

.blog__list {
	margin: 4rem 0 0 0;
	display: grid;
	grid-template-columns: repeat(3, 42.9rem);
	gap: 1.6rem;
}

.blog__item-date {
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 23.42px;
	margin: 2.4rem 0 0.8rem 2.4rem;
	color: var(--color-2);
}
.blog__item {
	box-shadow: 1px 1px 12px 0 rgba(71, 71, 71, 0.03);
	border-radius: 5px;
}

.blog__item-title {
	font-weight: 600;
	font-size: 1.8rem;
	line-height: 30.11px;
	letter-spacing: -1px;
	color: var(--color-1);
	margin: 0 0 1.6rem 2.4rem;
	transition: color 0.5s;
}

.blog__item:hover .blog__item-title {
	cursor: pointer;
	color: var(--color-1-alternative);	
}

.main__text--blog {
	max-width: 381px;
	margin: 1.6rem 2.4rem 2.4rem;	
}


/* footer */
.footer {
	margin: 4rem 6rem;
}
.footer__content {
	display: flex;
	padding-top: 1.6rem;
	max-width: 1318px;
	border-top: 1px solid #E0E0E0;
	justify-content: space-between;
}
.footer__text {
	color: #889499;
}
.footer__links a {
	color: #889499;
	margin-right: 4.4rem;
}

.footer__left{
	width: 50%;
	display: flex;
	justify-content: space-between;
}
.footer__right{
	width: 50%;
	display: flex;
	justify-content: space-between;
}

.pages {
	display: none;
}

@media (max-width: 462px) {
	
	/* menu mobile*/
	.header_mobile-toggle-menu {
		width: 3rem;
		height: 1.5rem;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	
	.header_mobile-toggle-menu div {
		width: 100%;
		height: 1.5px;
		background-color: var(--color-1);
		transition: all 0.3s ease;
	}
	.header_mobile-toggle-menu.open .line1 {
		width: 3.4rem;
		transform: rotate(45deg) translate(4.3px, 4.3px);
	}
	
	.header_mobile-toggle-menu.open .line2 {
		opacity: 0;
	}
	
	.header_mobile-toggle-menu.open .line3 {
		width: 3.4rem;
		transform: rotate(-45deg) translate(3.3px, -3.3px);
	}

	.header__button {
		display: none;
	}
	.header {
		padding: 1.6rem 2.4rem !important;
	}

	.header__logo img {
		width: 9.7rem !important;
		height: 2.5rem !important;
	}
	.header__nav {
		display: none;
	}
	.header__nav.open {
		display: block;
		position: fixed;
		flex-direction: column;
		height: calc(100vh - 56px); 
		background-color: #fff;
		width: 100vw;
		z-index: 1;
		top: 69px; 
		left: 0;
		padding: 5.6rem 0 0 1.6rem;
	}
	.header__nav.open .header__button {
		margin: 70% auto;
	}
	.header--menu-open {
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.02);
	}
	.header__nav_list {
		flex-direction: column;
	}
	.header__nav-item {
		margin: 0 0 2.4rem;
	}
	.header__phone span {
		display: none;
	}
	.phone {
		width: 2.3rem;
		height: 2.3rem;
	}
	.header__phone::before {
		display: none;
	}

	/* main */
	/* intro */
	.intro {
		height: 46.9rem;
		background-position: center;
		padding: 19.8rem 0 4rem 2.5rem;
		justify-content: center;
	}
	.intro__heading {
		font-size: 2rem;
		line-height: 23.46px;
		width: auto;
		margin: 0 0 1.5rem;
	}
	.intro__heading::before {
		left: -0.8rem;
		height: 6.5rem;
	}
	.intro__text {
		font-size: 1.4rem;
		line-height: 20.62px;
		max-width: 28.3rem;
	}
	.services__list {
		display: flex;

		justify-content:flex-start;		
		padding: 0 0 3.2rem;
		gap: 0;
	}
	.services__item {
		transition: transform 0.5s ease;
		min-width: 100%;
	  box-sizing: border-box;
  	padding: 2rem;
	}
	.pages {
		display: flex;
		justify-content: center;
		margin: 0 0 4rem 0;
	}
	
	.page {
		height: 10px;
		width: 10px;
		margin: 0 5px;
		background-color: #E0E0E0;
		border-radius: 50%;
		display: inline-block;
		cursor: pointer;
	}
	
	.page.active {
		background-color: var(--color-y);
	}
	.page--blog.active {
		background-color: var(--color-y);
	}
	/* contact */
	.contact {
		flex-direction: column;
	}
	.contact__address {
		margin: 4rem 5.9rem 0 1.6rem;
	}
	/* head-block */
	.head-block__title {
		font-size: 2rem;
	}
	.main__text {
		font-size: 1.4rem;
		line-height: 21.74px;
	}
	/* contact address */
	.contact__icon {
		height: 1.4rem;
		width: 1.4rem;
	}
	.contact__item address {
		line-height: 21.74px;
	}

	/* contact form */
	.contact__form {
		min-width: 28.8rem;
		padding: 2.4rem;
		max-width: 90%;
		margin: 3.2rem auto 4rem;
	}
	.form {
		max-width: 100%;
	}
	.form__group {
		flex-direction: column;
		gap: 0;
	}
	.form__field {
		width: auto;
	}
	.form__group .form__field:nth-child(1) {
		margin: 0;
	}
	.form__textarea {
		width: 100%;
	}
	.form__field:nth-child(4) {
		margin: 0 0 3.2rem;
	}
	.form__button {
		width: 24rem;
	}
	/* maps */
	.maps {
		max-width: 32rem;
		margin: 0 auto;
	}
	iframe {
		max-width: 32rem;
		height: 24.5rem;
		margin: 0 auto;
	}
	/* slider */
	.slider{
		position: relative;
		width: 100%;
		max-width: 320px;
		margin: 0 auto;
		overflow: hidden;
	}
	/* blog */
	.blog {
		margin: 0;
		padding: 0;
	}
	.head-block--blog {
		margin: 4rem 0 3.2rem 1.6rem;
		padding: 0 0 3.2rem;
		flex-direction: column;
	}
	.blog__list {
		display: flex;
		transition: transform 0.5s ease;
  	width: 100%;
		gap: 0;
		margin: 0 0 3.2rem;
	}
	.blog__item {
		transition: transform 0.5s ease;
		padding: 0 2rem 0;
	}
	.main__text--blog {
		display: none;
	}
	.footer {
		margin: 4rem 1.6rem;
	}
	.footer__content {
		justify-content: flex-start;
		flex-direction: column;
	}
	.footer__left{
		width: 100%;
		display: flex;
		justify-content: unset;
		flex-direction: column;
		gap: 0.8rem;
		margin: 0 0 0.8rem;
		}
	.footer__right{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: unset;
		gap: 0.8rem;
	}
	
}